.grid_table {
  background: #ccc;
  box-shadow: 3px 1px 14px #ccc;
  display: grid;
  grid-gap: 1px 1px;

  &--demo {
    margin: 3rem auto;
    max-width: 1500px;
  }

  &__cell {
    background: #fff;
    padding: 1rem;

    &--head {
      color: #777;
      font-weight: bold;
      grid-row: 1;
      padding-bottom: 1.5rem;
      padding-top: 1.5rem;
    }
  }
}
